*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

header, hgroup, nav, footer, figure, figcaption, aside, section, article, audio {
	display: block;
}

html {
	overflow-y: scroll;
}

body {
	margin: 0;
	font-size: 1.5em;
	font-family: Calibri, Verdana, sans-serif;
}

.content {
	padding: 1em;
	width: 80%;
	margin: auto;
	margin-top: 0;
	margin-bottom: 1em;
	background: #ededed;
	border: 1px solid black;
	border-top: 0;		
}

h1 { 
	min-height: 150px;
	padding-left: 400px;
	background: url("sim-patient-logo.png") no-repeat left top;
	background-size: auto 150px;
	margin:0;
}

h4 {
	color: #445BA5;
}

img {
	width: auto;
	height: auto;
	border: 1px solid black;
}

a:link {color: green; text-decoration: none;}
a:visited {color: green;}
a:hover {color: #db4d4d; text-decoration: underline;}
a:active {color: #5b6ac5;}

@media only screen and (max-width: 1400px) {
	img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 820px) {
	body {
		width: 90%;
		font-size: 1.2em;
	}

	h1 {
		min-height: 100px;
		padding: 0;
		padding-top: 100px;
		background-size: auto 100px;
	}
}

@media only screen and (max-width: 480px) {
	body {
		width: 90%;
		font-size: 1.1em;
	}

	h1 {
		min-height: 100px;
		padding: 0;
		padding-top: 100px;
		background-size: auto 100px;
	}
}